<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{ cn_module }}</title>
        <link rel="bookmark"  
              type="image/x-icon" 
              href="{% if env === 'development' %}/images/ui/icon.png{% else %}http://ocgkyeaew.bkt.clouddn.com/images/ui/icon.png{% endif %}"/>
        <link rel="shortcut icon" 
              href="{% if env === 'development' %}/images/ui/icon.png{% else %}http://ocgkyeaew.bkt.clouddn.com/images/ui/icon.png{% endif %}">      
        <!-- 加载进度条 --> 
        <link rel="stylesheet" type="text/css" href="{% if env === 'development' %}/libs/pace/pace.css{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/pace/pace.css{% endif %}">
        <script type="text/javascript" src="{% if env === 'development' %}/libs/pace/pace.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/pace/pace.min.js{% endif %}"></script>
        <link rel="stylesheet" 
              type="text/css" 
              href="{% if env === 'development' %}/libs/bootstrap/dist/css/bootstrap.min.css{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/bootstrap/dist/css/bootstrap.min.css{% endif %}">
        <link rel="stylesheet" 
              type="text/css"
              href="{% if env === 'development' %}/styles/admin-app.css{% else %}http://ocgkyeaew.bkt.clouddn.com/styles/admin-app-9d14f45d85.min.css{% endif %}">        
    </head>
    <body fireworks ng-controller="root">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand unselectable" href="/">后台管理</a>
                    <button type="button" 
                            class="navbar-toggle collapsed" 
                            data-toggle="collapse"
                            aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                    
                </div>
                <div class="main-menu unselectable" ng-controller="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{'active': curr === 'user'}">
                            <a href="/user">用户</a>
                        </li>
                        <li ng-class="{'active': curr === 'auth'}">
                            <a href="/auth">权限</a>
                        </li>                        
                        <li ng-class="{'active': curr === 'content'}">
                            <a href="/content">内容</a>
                        </li>        
                        <li ng-class="{'active': curr === 'journal'}">
                            <a href="/journal">日志</a>
                        </li>         
                        <li>
                            <a href="javascript:;" ng-click="onLogout()">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <ng-view scrollbar></ng-view>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/jquery/dist/jquery.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/jquery/dist/jquery.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/sketch/sketch.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/sketch/sketch.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/bootstrap/dist/js/bootstrap.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/bootstrap/dist/js/bootstrap.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/echarts/echarts.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/echarts/echarts.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="/libs/requirejs/require.js" 
                data-main="{% if env === 'development' %}/scripts/admin-app.js{% else %}http://ocgkyeaew.bkt.clouddn.com/scripts/admin-app-3c41f77587.min.js{% endif %}">
        </script>
    </body>
</html>