<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{ cn_module }}</title>
        <link rel="bookmark"  type="image/x-icon"  href="/images/ui/icon-22a11c4bb9.png"/>
        <link rel="shortcut icon" href="/images/ui/icon-22a11c4bb9.png">        
        <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" 
              type="text/css"
              href="{% if env === 'development' %}/styles/admin-app.css{% else %}http://ocgkyeaew.bkt.clouddn.com/styles/admin-app-e05f1d9614.min.css{% endif %}">
    </head>
    <body>
        <div id="background"></div>
        <div class="container login-page">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">登陆</h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="user" class="col-sm-4 control-label">用户名：</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="user" placeholder="用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">密码：</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">登陆</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript">
            (function() {
                var $user = $('#user');
                var $password = $('#password');

                var $btn = $('#submit');

                $btn.click(function () {
                    if (!$user.val() || !$password.val()) {
                        return false;
                    }

                    $btn.attr('disabled', 'disabled');
                    $btn.html('正在登陆..');

                    $.ajax({
                        url: '/api/login',
                        type: 'post',
                        data: {
                            username: $user.val(),
                            password: $password.val()
                        },
                        success: function () {
                            location.href = "/";
                        },
                        error: function (msg) {
                            $btn.removeAttr('disabled');
                            $btn.html('登陆');
                        }
                    });
                });
            })();
        </script>
        <script type="text/javascript" src="/libs/three/three.min.js"></script>

        <script id="vs" type="x-shader/x-vertex">
            varying vec2 vUv;

            void main() {
                vUv = uv;
                gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
            }
        </script>

        <script id="fs" type="x-shader/x-fragment">
            uniform sampler2D map;

            uniform vec3 fogColor;
            uniform float fogNear;
            uniform float fogFar;

            varying vec2 vUv;

            void main() {
                float depth = gl_FragCoord.z / gl_FragCoord.w;
                float fogFactor = smoothstep( fogNear, fogFar, depth );

                gl_FragColor = texture2D( map, vUv );
                gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 );
                gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );
            }
        </script>          

        <script type="text/javascript">
            var Detector = {

                canvas : !! window.CanvasRenderingContext2D,
                webgl : ( function () { try { return !! window.WebGLRenderingContext && !! document.createElement( 'canvas' ).getContext( 'experimental-webgl' ); } catch( e ) { return false; } } )(),
                workers : !! window.Worker,
                fileapi : window.File && window.FileReader && window.FileList && window.Blob,

                getWebGLErrorMessage : function () {

                    var domElement = document.createElement( 'div' );

                    domElement.style.fontFamily = 'monospace';
                    domElement.style.fontSize = '13px';
                    domElement.style.textAlign = 'center';
                    domElement.style.background = '#eee';
                    domElement.style.color = '#000';
                    domElement.style.padding = '1em';
                    domElement.style.width = '475px';
                    domElement.style.margin = '5em auto 0';

                    return domElement;

                },

                addGetWebGLMessage : function ( parameters ) {

                    var parent, id, domElement;

                    parameters = parameters || {};

                    parent = parameters.parent !== undefined ? parameters.parent : document.body;
                    id = parameters.id !== undefined ? parameters.id : 'oldie';

                    domElement = Detector.getWebGLErrorMessage();
                    domElement.id = id;

                    parent.appendChild( domElement );

                }

            };


            var ele, container;
            var camera, scene, renderer, position;
            var mesh, geometry, material;

            var mouseX = -90, 
                mouseY = 50;
            var start_time = Date.now();

            var windowHalfX = window.innerWidth / 2;
            var windowHalfY = window.innerHeight / 2;

            function clouds(id) {
                ele = document.getElementById(id);

                container = document.createElement( 'div' );
                ele.appendChild( container );

                // Bg gradient

                var canvas = document.createElement( 'canvas' );
                canvas.width = 32;
                canvas.height = ele.scrollHeight;

                var context = canvas.getContext( '2d' );

                var gradient = context.createLinearGradient( 0, 0, 0, canvas.height );
                gradient.addColorStop(0, "#1e4877");
                gradient.addColorStop(0.5, "#4584b4");

                context.fillStyle = gradient;
                context.fillRect(0, 0, canvas.width, canvas.height);

                container.style.background = 'url(' + canvas.toDataURL('image/png') + ')';
                container.style.backgroundSize = '32px 100%';

                camera = new THREE.PerspectiveCamera( 30, ele.scrollWidth / ele.scrollHeight, 1, 3000 );
                camera.position.z = 6000;

                scene = new THREE.Scene();

                geometry = new THREE.Geometry();

                var texture = THREE.ImageUtils.loadTexture( '{% if env === 'development' %}/images/ui/cloud.png{% else %}http://ocgkyeaew.bkt.clouddn.com/images/ui/cloud-1e62f6552c.png{% endif %}', null, animate );
                texture.magFilter = THREE.LinearMipMapLinearFilter;
                texture.minFilter = THREE.LinearMipMapLinearFilter;

                var fog = new THREE.Fog( 0x4584b4, - 100, 3000 );

                material = new THREE.ShaderMaterial( {

                    uniforms: {

                        "map": { type: "t", value: texture },
                        "fogColor" : { type: "c", value: fog.color },
                        "fogNear" : { type: "f", value: fog.near },
                        "fogFar" : { type: "f", value: fog.far },

                    },
                    vertexShader: document.getElementById( 'vs' ).textContent,
                    fragmentShader: document.getElementById( 'fs' ).textContent,
                    depthWrite: false,
                    depthTest: false,
                    transparent: true

                } );

                var plane = new THREE.Mesh( new THREE.PlaneGeometry( 64, 64 ) );

                for ( var i = 0; i < 8000; i++ ) {

                    plane.position.x = Math.random() * 1000 - 500;
                    plane.position.y = - Math.random() * Math.random() * 200 - 15;
                    plane.position.z = i;
                    plane.rotation.z = Math.random() * Math.PI;
                    plane.scale.x = plane.scale.y = Math.random() * Math.random() * 1.5 + 0.5;

                    plane.updateMatrix();

                    geometry.merge( plane.geometry, plane.matrix );

                }

                mesh = new THREE.Mesh( geometry, material );
                scene.add( mesh );

                mesh = new THREE.Mesh( geometry, material );
                mesh.position.z = - 8000;
                scene.add( mesh );

                renderer = new THREE.WebGLRenderer( { antialias: false , alpha: true, precision: 'highp'} );
                renderer.setSize( ele.scrollWidth, ele.scrollHeight );
                renderer.setClearColor('#fff', 0);

                container.appendChild( renderer.domElement );

                ele.addEventListener( 'mousemove', onDocumentMouseMove, false );
                window.addEventListener( 'resize', onWindowResize, false );

            }

            function onDocumentMouseMove( event ) {

                mouseX = ( event.clientX - windowHalfX ) * 0.25;
                mouseY = ( event.clientY - windowHalfY ) * 0.15;
            }

            function onWindowResize( event ) {
                camera.aspect = window.innerWidth / window.innerHeight;
                camera.updateProjectionMatrix();
                renderer.setSize( window.innerWidth, window.innerHeight );
            }

            function animate() {

                requestAnimationFrame( animate );

                position = ( ( Date.now() - start_time ) * 0.03 ) % 8000;

                camera.position.x += ( mouseX - camera.position.x ) * 0.01;
                camera.position.y += ( - mouseY - camera.position.y ) * 0.01;
                camera.position.z = - position + 8000;

                renderer.render( scene, camera );

            }

            clouds('background');            
        </script>
    </body>
</html> 