<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#">角色</a></li>
            <li role="presentation"><a href="#">权限</a></li>
            <li role="presentation"><a href="#">关联</a></li>
        </ul>
    </div>
    <div class="row">
        <grid columns="grid.columns" 
              options="grid.options" 
              source="grid.source">
        </grid>        
    </div>
</div>