<div class="container-fluid page-admin-index view">
    <div class="row">        
        <div class="col-sm-6">
            <echarts options="chartOptions_2"
                     height="'320'"
                     width="'100%'">
            </echarts>
        </div>    
        <div class="col-sm-6">
            <echarts options="chartOptions_3"
                     height="'320'"
                     width="'100%'">
            </echarts>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <echarts options="chartOptions_4"
                     height="'320'"
                     width="'100%'">
            </echarts>
        </div>    
    </div>    
</div>