         <script type="x-shader/x-vertex" id="vertexShader">

            varying vec3 vWorldPosition;

            void main() {

                vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
                vWorldPosition = worldPosition.xyz;

                gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

            }

        </script>

        <script type="x-shader/x-fragment" id="fragmentShader">

            uniform vec3 topColor;
            uniform vec3 bottomColor;
            uniform float offset;
            uniform float exponent;

            varying vec3 vWorldPosition;

            void main() {

                float h = normalize( vWorldPosition + offset ).y;
                gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );

            }

        </script>    
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/jquery/dist/jquery.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/jquery/dist/jquery.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/ckeditor/ckeditor.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/ckeditor/ckeditor.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/webuploader/webuploader.html5only.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/webuploader/webuploader.html5only.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/sketch/sketch.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/sketch/sketch.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/three/three.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/three/three.min.js{% endif %}"></script>
        <script type="text/javascript" 
                src="{% if env === 'development' %}/libs/bootstrap/dist/js/bootstrap.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/bootstrap/dist/js/bootstrap.min.js{% endif %}"></script>